<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-bottom: 20px;
    }

    li {
      display: inline;
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: #333;
      padding: 5px 10px;
      border: 1px solid #333;
      border-radius: 5px;
    }

    a:hover {
      background-color: #333;
      color: #fff;
    }
  </style>
</head>
<body>
<h1>Welcome Page</h1>
<h3>Var 16: Оренда квартир</h3>
<ul>
  <li><a href="/docs">API Documentation</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/rooms">Rooms</a></li>
  <li><a href="/apartments">Apartments</a></li>
</ul>
</body>
</html>
